* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Stack Sans Text", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}
.rose {
    color: #ff006e;
}

li {
    list-style: none;
    display: inline;
    margin-right: 60px;
    
}

a {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.3em;
    color: grey;
}

ul {
    padding-left: 60px;
    padding-top: 30px;
}

.hero__introduction {
    height: 70vh;
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-introduction,
.title-introduction {
    font-size: 4em;
    color: white;
}

.title-introduction {
    padding-bottom: 60px;
}

.here {
    background-color: #ff006e;
    color: antiquewhite;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.logo__presentation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-quality {
    background-color: lightcoral;
}

.title-presentation {
    padding-top: 90px;
}

.text-presentation {
    padding-top: 30px;
}

.infos__container{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
}

.club, .actus {
    position: relative;
    height: 300px;
    width: 600px;
    border-radius: 30px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    /* padding-left: 60px; */
    
    
}

.club {

    background-image: url(images/article-image-1.jpg);
}

.actus {
        background: linear-gradient(
        rgba(255,255,255,0.6)
    ),
    url(images/article-image-2.jpg) center/cover no-repeat;
}



.p-container, .title-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 400px;
    
    
}
.p-container {
    border-top: 1px solid black;
    }
.infoplus {
    background-color: #ff006e;
    color: antiquewhite;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.contact__container {
    height: 40vh;
    text-align: center;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify; */
}
footer{
    background-color: rgb(78, 73, 73);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding-bottom: 30px;
    padding-top: 40px;
}